<!DOCTYPE html>
<html lang="en">
<head>
    <title>账户删除</title>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,shrink-to-fit=no,user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        #login-title {
            text-align: center;
            margin-bottom: 50px;
            margin-top: 5%;
        }

        #form {
            line-height: 80px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
        }

        #app {
            padding-top: 10%;
        }
    </style>
</head>
<body>

<div id="app">
    <el-row :gutter="10">
        <el-col :xs="{span:24,offset:0}" :sm="{span:16,offset:4}" :md="{span:7,offset:9}">
            <el-card class="box-card">
                <h2 id="login-title">移除账号</h2>
                <el-form id="form" ref="loginFormRef" :model="loginForm" :rules="loginFormRules">
                    <el-form-item prop="username">
                        <el-input prefix-icon="el-icon-user-solid" v-model="loginForm.username" placeholder="学号"
                                  clearable></el-input>
                    </el-form-item>
                    <el-button type="danger" @click="createDept">删除账号</el-button>
                    <el-button @click="registerAccount">返回注册</el-button>
                </el-form>
            </el-card>
        </el-col>
    </el-row>
</div>

</body>
<script>
    Vue.prototype.$axios = axios
    var app = new Vue({
        el: '#app',
        name: 'delete',
        data() {
            return {
                loginForm: {
                    username: ''
                },
                loginFormRules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                        {min: 1, max: 18, message: '不能为空', trigger: 'blur'}
                    ],
                },
            }
        }, methods: {
            registerAccount() {
                window.location.href = "/"
            },
            createDept() {
                this.$refs.loginFormRef.validate((e) => {
                    if (e) {
                        const this_vue = this;
                        this.$axios({
                            method: 'delete',
                            url: '/api/delete',
                            params: {
                                'username': this.loginForm.username,
                            }
                        }).then(res => {
                            if (!res.data.flag) {
                                this_vue.$message.closeAll()
                                this_vue.$message({
                                    message: res.data.message,
                                    duration: 8 * 1000,
                                    type: 'warning'
                                });
                            } else {
                                this_vue.$message.closeAll()
                                this_vue.$message({
                                    message: res.data.message,
                                    duration: 8 * 1000,
                                    type: 'success'
                                });
                            }
                        }).catch(e => {
                            this_vue.$message.closeAll()
                            this_vue.$message({
                                message: "与服务器连接异常,请检查网络连接或联系服务器管理员，异常信息为：" + e,
                                duration: 8 * 1000,
                                type: 'error'
                            });
                        })
                    }
                })
            }
        }
    })
</script>
</html>
