<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CTGU自动安全上报</title>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0,shrink-to-fit=no,user-scalable=no">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        #login-title {
            text-align: center;
            margin-bottom: 50px;
            margin-top: 5%;
        }

        #form {
            line-height: 80px;
            padding-left: 30px;
            padding-right: 30px;
            text-align: center;
        }

        #app {
            padding-top: 10%;
        }
    </style>
</head>
<body>

<div id="app">
    <el-row :gutter="10">
        <el-col :xs="{span:24,offset:0}" :sm="{span:16,offset:4}" :md="{span:6,offset:9}">
            <el-card class="box-card">
                <h2 id="login-title">CTGU自动上报</h2>
                <el-form id="form" ref="loginFormRef" :model="loginForm" :rules="loginFormRules">
                    <el-form-item prop="username">
                        <el-input prefix-icon="el-icon-user-solid" v-model="loginForm.username" placeholder="学号"
                                  minlength="1" clearable></el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input prefix-icon="el-icon-data-board" v-model="loginForm.password" placeholder="密码"
                                  minlength="1" show-password clearable></el-input>
                    </el-form-item>
                    <el-form-item prop="email">
                        <el-input prefix-icon="el-icon-s-cooperation" v-model="loginForm.email" placeholder="邮箱"
                                  minlength='2' required clearable></el-input>
                    </el-form-item>
                    <el-button type="primary" @click="createDept">提交</el-button>
                </el-form>
                <div style="text-align: center">
                    <el-link id="delete" @click="deleteAccount">删除账号</el-link>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a id="delete" class="el-link el-link--default is-underline" @click="aboutMe">
                        <img alt="GitHub stars" th:src="@{/images/Elm Forest.svg}"
                             width="95%">
                    </a>
                </div>
            </el-card>
        </el-col>
    </el-row>
</div>

</body>
<script>
    Vue.prototype.$axios = axios
    var app = new Vue({
        el: '#app',
        name: 'Login',
        data() {
            return {
                loginForm: {
                    username: '',
                    password: '',
                    email: '',
                },
                loginFormRules: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'},
                        {min: 1, max: 18, message: '不能为空', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'},
                        {min: 1, max: 30, message: '不能为空', trigger: 'blur'}
                    ],
                    email: [
                        {required: true, message: '请输入正确的邮箱格式', trigger: 'blur'},
                        {
                            pattern: /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/,
                            message: '请输入正确的邮箱格式',
                            trigger: 'blur'
                        }
                    ]
                },
            }
        }, mounted() {
            this.$alert('<li>由于国家疫情防控政策改变，目前已不需要安全上报服务</br>' +
                '<li>12月9日起，安全上报服务器重新限制了访问IP地址，该脚本和其它人开发的脚本基本已失效</br>' +
                '<li>自动上报服务不会停止，仍然可以注册和自动上报，但后期不再进行更新和维护。</br>' +
                '自此项目搭建以来，作者已经进行了总计52次的更新</br>',
                '更新', {
                confirmButtonText: '确认',
                dangerouslyUseHTMLString: true,
            });
        },
        methods: {
            aboutMe() {
                window.location.href = "https://github.com/Elm-Forest/AutoReport"
            },
            deleteAccount() {
                window.location.href = "/delete"
            },
            createDept() {
                this.$refs.loginFormRef.validate((e) => {
                    if (e) {
                        const this_vue = this;
                        this_vue.$message.closeAll()
                        this_vue.$message({
                            message: "您已成功提交信息，正在登录至CTGU安全上报系统，请耐心等待，最多等待30s将返回结果",
                            duration: 30 * 1000,
                            type: 'success'
                        });
                        this.$axios({
                            method: 'post',
                            url: '/api/register',
                            data: {
                                'username': this.loginForm.username,
                                'password': this.loginForm.password,
                                'email': this.loginForm.email,
                            }
                        }).then(res => {
                            if (!res.data.flag) {
                                this_vue.$message.closeAll()
                                this_vue.$message({
                                    message: res.data.message,
                                    duration: 20 * 1000,
                                    type: 'warning'
                                });
                            } else {
                                this_vue.$message.closeAll()
                                this_vue.$message({
                                    message: res.data.message,
                                    duration: 12 * 1000,
                                    type: 'success'
                                });
                            }
                        }).catch(e => {
                            this_vue.$message.closeAll()
                            this_vue.$message({
                                message: "与服务器连接异常,请检查网络连接或联系服务器管理员，异常信息为：" + e,
                                duration: 30 * 1000,
                                type: 'error'
                            });
                        })
                    }
                })
            }
        }
    })
</script>
</html>
